1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [ ]:
def sum(lis):
  k=0
  for i in lis:
    if i%2==0:
      k+=i
  return k
lis= [1, 2, 3, 4, 5, 6]
sum(lis)

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse(str):
  st=""
  for i in str:
    st=i+st
  return st
reverse("vivo")

'oviv'

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number

In [ ]:
def sq(lis):
  lis1 = list(map(lambda x:x**2,lis))
  print(lis1)
lis=[1,2,3,4,5]
sq(lis)

[1, 4, 9, 16, 25]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(number):
  if number <= 1:
    return False
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False
  return True
for num in range(1, 201):
  if is_prime(num):
    print(num, "is prime")

2 is prime
3 is prime
5 is prime
7 is prime
11 is prime
13 is prime
17 is prime
19 is prime
23 is prime
29 is prime
31 is prime
37 is prime
41 is prime
43 is prime
47 is prime
53 is prime
59 is prime
61 is prime
67 is prime
71 is prime
73 is prime
79 is prime
83 is prime
89 is prime
97 is prime
101 is prime
103 is prime
107 is prime
109 is prime
113 is prime
127 is prime
131 is prime
137 is prime
139 is prime
149 is prime
151 is prime
157 is prime
163 is prime
167 is prime
173 is prime
179 is prime
181 is prime
191 is prime
193 is prime
197 is prime
199 is prime

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [ ]:
def fib(n):
  a,b=0,1
  for i in range(n):
    yield a

    a,b=b,a+b
iter = fib(5)
next(iter)

0

6.Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def powers(k):
  power=1
  for i in range(k):
    yield power
    power=power*2
iter = powers(5)
next(iter)

1

7. Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def yield_lines(multiline_string):
  for line in multiline_string.splitlines():
       yield line

iter = yield_lines("""The sun shone brightly on the park, its golden rays warming the faces of the children playing on the swings.
                     A gentle breeze rustled the leaves of the trees, creating a soothing rhythm that accompanied the laughter of the children.
                     A squirrel scampered up a tree trunk, its bushy tail twitching with excitement.
                     A dog chased after a butterfly, its tongue lolling happily as it raced across the grass.""")
next(iter)

'The sun shone brightly on the park, its golden rays warming the faces of the children playing on the swings.'

In [ ]:
next(iter)

'                     A gentle breeze rustled the leaves of the trees, creating a soothing rhythm that accompanied the laughter of the children.'

In [ ]:
next(iter)

'                     A squirrel scampered up a tree trunk, its bushy tail twitching with excitement.'

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple

In [ ]:
my_list = [(1, 3), (4, 2), (2, 5), (3, 1)]

sorted_list = sorted(my_list, key=lambda x: x[1])

print(sorted_list)

9. Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
def faren():
  cel=[20,40,30,50,40,30]
  far=list(map(lambda x:(x*9/5)+32,cel))
  return far
faren()

[68.0, 104.0, 86.0, 122.0, 104.0, 86.0]

10. Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:
def vowel():
  st="pwskills"
  vowels = "aeiouAEIOU"
  return list((filter(lambda x: x not in vowels, st)))
vowel()

['p', 'w', 's', 'k', 'l', 'l', 's']

11.

In [ ]:
def bookshop(orders):


  for order in orders:
    order_number,author, price, quantity = order
    total_cost = price * quantity
    total_cost=lambda x:x+10 if total_cost<100 else total_cost
    result=map((order_number, price, quantity, total_cost),orders)
  print(result)

orders = [
[1, "A", 10, 5],
[2, "V", 20, 3],
[3, "C", 5, 10],
[4, "D", 15, 2],
]
order_totals = bookshop(orders)
print(order_totals)

<map object at 0x7f47d62e7eb0>
None